h1 {
    margin: 20px auto;
    font-family: Times;
    color: #0E1514;
    text-align: center;
}

.html-container {
    margin: 20px auto;
    font-family: Times;
    color: #0E1514;
}

.search {
    text-align: center;
}

.city-search {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 6px 8px 47px rgba(0, 0, 0, 0.2);
}

.search-submit {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 18px;
    background-color: #0D72E7;
    box-shadow: 15px 10px 47px rgba(0, 0, 0, 0.2);
}

.search-submit:hover {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 18px;
    background-color: #0D72E7;
    cursor: pointer;
    text-decoration: underline;
    box-shadow: 15px 10px 47px rgba(0, 0, 0, 0.2);
}

.weather {
    background-color: #dce2d3;
    display: block;
    margin: 30px auto;

}

.container {
    background-color: #c0cab4;
    color: #292929;
    border: 1px solid gray;
    border-radius: 15px;
}

ul {
    list-style: none;
}

.forecast {
    text-align: center;
}

.temperature-maximum {
    opacity: 0.8;
    font-size: 18px;
}

.temperature-minimum {
    opacity: 0.6;
    margin-left: 8px;
    font-size: 18px;
}

.forecast-day {
    font-size: 18px;
}

.formalDate {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}