h1 {
    text-align: center;
    margin: 15px;
}

.search {
    text-align: center;
}
.city-search {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}
.search-submit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(24, 89, 220);
}
.weather {

    display: block;
    margin: 30px auto;

}
.container {
        border: 1px solid gray;
        border-radius: 15px;
}
ul {
    text-decoration: none;
}