.html-container {
    margin: 20px;
}

h1 {
    margin: 20px auto;
    font-family: Times;
    color: #0E1514;
    text-align: center;
    font-weight: 600;
}

.search {
    text-align: center;
}

.city-search {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 6px 8px 47px rgba(0, 0, 0, 0.2);
}

.search-submit {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 18px;
    background-color: #0D72E7;
    box-shadow: 15px 10px 47px rgba(0, 0, 0, 0.2);
}

.search-submit:hover {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 18px;
    background-color: #0D72E7;
    cursor: pointer;
    text-decoration: underline;
    box-shadow: 15px 10px 47px rgba(0, 0, 0, 0.2);
}

.weather {
    background-color: #F8CB7F;
    display: block;
    margin: 30px auto;

}

.col-9 {
    display: grid;
    background-color: #c0cab4;
    border: 2px solid gray;
    border-radius: 15px;
    color: #0E1514;
    background: linear-gradient(
          to right,
          rgb(172, 89, 223),
          rgb(242, 200, 95)
        );
}

.col-3 {
    display: grid;
    color: #0E1514;
}

.humidity {
    border: 1px solid gray;
    border-radius: 15px;
    margin: 10px auto;
    padding: 20px;
    background: linear-gradient(
          to right,
          rgb(172, 89, 223),
          rgb(242, 200, 95)
        );
}

.wind {
    border: 1px solid gray;
    border-radius: 15px;
    margin: 10px auto;
    padding: 20px;
    background: linear-gradient(
          to right,
          rgb(172, 89, 223),
          rgb(242, 200, 95)
        );
}

ul {
    list-style: none;
}

.forecast {
    text-align: center;
}

.temperature-maximum {
    opacity: 0.8;
    font-size: 18px;
    font-weight: 600;
}

.temperature-minimum {
    opacity: 0.6;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
}

.forecast-day {
    font-size: 18px;
    font-weight: 600;
}

.formalDate {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}